# cached files
**/__pycache__/
.DS_Store

# python virtual env folder
/env/

# files for the final report
/images/

# game data to run in pyboy
/ROMS/

# training logs (loss, debug info)
Training.log
/wandb/
/videos/

# model checkpoint
PythonMemory.pt