ale-py==0.7.5
AutoROM==0.4.2
AutoROM.accept-rom-license==0.6.1
einops==0.7.0
gym==0.23.1
gym-notices==0.0.8
ipykernel==6.29.0
ipython==8.20.0
jaxtyping==0.2.25
jupyter_client==8.6.0
jupyter_core==5.7.1
moviepy==1.0.3
numpy==1.26.3
pandas==2.2.0
plotly==5.18.0
pyboy==1.6.13
pygame==2.5.2
rich==13.7.0
torch==2.2.0
torchvision==0.17.0
tqdm==4.65.0
wandb==0.13.10
